<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-menu-item routerLink="/service/carousel" routerLinkActive="ant-menu-item-selected">
        <span>
          <i class="anticon anticon-user"></i>
          <span class="nav-text">首页</span>
        </span>
      </li>
      <li nz-submenu>
        <span title>
          <i class="anticon anticon-scan"></i>
          <span class="nav-text">公司信息</span>
        </span>
        <ul>
          <li nz-menu-item routerLink="/service/organization/list" routerLinkActive="ant-menu-item-selected">注册列表</li>
          <li nz-menu-item routerLink="/service/organization/apply" routerLinkActive="ant-menu-item-selected">新注册</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title>
          <i class="anticon anticon-plus-circle"></i>
          <span class="nav-text">开票</span>
        </span>
        <ul>
          <li nz-menu-item routerLink="/service/invoice/list" routerLinkActive="ant-menu-item-selected">申请列表</li>
          <li nz-menu-item routerLink="/service/invoice/apply" routerLinkActive="ant-menu-item-selected">新申请</li>
        </ul>
      </li>
      <li *ngIf="isEmployee" nz-menu-item routerLink="/back/my-task" routerLinkActive="ant-menu-item-selected">
        <span>
          <i class="anticon anticon-enter"></i>
          <span class="nav-text">进入后台</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <div class="logo" style="display: inline;">
        您好：{{principal?.name?.split(':')[1]}}
        <nz-avatar nzIcon="anticon anticon-user" nzSrc="{{icon}}"></nz-avatar>
        <a><i class="anticon anticon-paper-clip" (click)="openUpdateMyPasswordModal()"></i></a>
      </div>
      <div class="logo" style="display: inline; margin-left: 30px;">
        <a (click)="logout()"><i class="anticon anticon-logout"></i></a>
      </div>
    </nz-header>
    <nz-content style="margin:24px 16px 0;">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">HJK ©2017 develop by hl</nz-footer>
  </nz-layout>
</nz-layout>