<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-menu-item routerLink="/service/carousel" routerLinkActive="ant-menu-item-selected">
        <span>
          <i class="anticon anticon-user"></i>
          <span class="nav-text">首页</span>
        </span>
      </li>
      <li nz-menu-item routerLink="/service/organization/list" routerLinkActive="ant-menu-item-selected">
        <span>
          <i class="anticon anticon-user"></i>
          <span class="nav-text">我注册的公司</span>
        </span>
      </li>
      <li nz-menu-item routerLink="/service/organization/apply" routerLinkActive="ant-menu-item-selected">
        <span>
          <i class="anticon anticon-video-camera"></i>
          <span class="nav-text">注册公司信息</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <div class="logo">您好：{{principal?.name?.split(':')[1]}}</div>
      <!-- <nz-avatar nzIcon="anticon anticon-user" nzSrc="{{getUserPicture()}}"></nz-avatar> -->
    </nz-header>
    <nz-content style="margin:24px 16px 0;">
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">HJK</nz-footer>
  </nz-layout>
</nz-layout>