<nz-breadcrumb style="margin-bottom:16px;">
    <nz-breadcrumb-item>用户</nz-breadcrumb-item>
    <nz-breadcrumb-item>列表</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px; background: #fff; min-height: 360px;">
    <div nz-row style="margin-bottom: 20px;">
      <div nz-col nzSpan="8" nzOffset="16">
        <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
          <input type="text" nz-input placeholder="搜索" [(ngModel)]="query" (keyup)="keyupSearch($event.target.value)">
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch (click)="loadData()">
            <i class="anticon anticon-search"></i>
          </button>
        </ng-template>
      </div>
    </div>
    <nz-table #basicTable [nzData]="page.content" [nzFrontPagination]="false" [nzTotal]="page.totalElements"
    [nzPageIndex]="page.pageNumber + 1" (nzPageIndexChange)="loadData($event)" [nzPageSize]="page.pageSize" [nzLoading]="loading">
      <thead>
        <tr>
          <th>用户姓名</th>
          <th>邮箱</th>
          <th>手机</th>
          <th>所属组</th>
          <th>最近登录</th>
          <th>启用</th>
          <th nzWidth="200px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.cellPhone}}</td>
          <td>{{data.cellPhone}}</td>
          <td>{{data.lastLogin}}</td>
          <td>{{data.enabled | booleanPipe}}</td>
          <td>
            <a (click)="getDetail(data.id)">详情</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data.id)" *ngIf="!data.pass">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  