<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-user">
        <input type="text" nz-input formControlName="emailOrCellPhone" placeholder="邮箱或手机号">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('emailOrCellPhone').dirty && validateForm.get('emailOrCellPhone').errors">请输入邮箱或手机号!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-lock">
        <input type="password" nz-input formControlName="password" placeholder="Password">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入密码!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>记住</span>
      </label>
      <!-- <a class="login-form-forgot" class="login-form-forgot">Forgot password</a> -->
      <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLoading">登录</button>
      或
      <a routerLink="/register">注册账号!</a>
    </nz-form-control>
  </nz-form-item>
</form>