<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-menu-item routerLink="/back/my-task" routerLinkActive="ant-menu-item-selected">
        <span>
          <i class="anticon anticon-file"></i>
          <span class="nav-text">查看任务</span>
        </span>
      </li>
      <li nz-submenu>
        <span title>
          <i class="anticon anticon-team"></i>
          <span class="nav-text">公司信息</span>
        </span>
        <ul>
          <li nz-menu-item routerLink="/back/organization/list" routerLinkActive="ant-menu-item-selected">列表</li>
          <li nz-menu-item >详情</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title>
          <i class="anticon anticon-user"></i>
          <span class="nav-text">用户信息</span>
        </span>
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-menu-item [routerLink]="['/service']" routerLinkActive="ant-menu-item-selected">
        <span>
          <i class="anticon anticon-rollback"></i>
          <span class="nav-text">查看前台</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <div class="logo" style="display: inline;">
        您好：{{principal?.name?.split(':')[1]}}
        <nz-avatar nzIcon="anticon anticon-user" nzSrc="{{icon}}"></nz-avatar>
      </div>
      <div class="logo" style="display: inline; margin-left: 30px;">
        <a (click)="logout()"><i class="anticon anticon-logout"></i></a>
      </div>
    </nz-header>
    <nz-content style="margin:24px 16px 0;">
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">HJK ©2017 develop by hl</nz-footer>
  </nz-layout>
</nz-layout>