<nz-breadcrumb style="margin-bottom:16px;">
  <nz-breadcrumb-item>开票</nz-breadcrumb-item>
  <nz-breadcrumb-item>新申请</nz-breadcrumb-item>
</nz-breadcrumb>
<div style="padding:24px; background: #fff; min-height: 360px;" appScroll>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
    <nz-form-item formGroupName="organization">
      <nz-form-label [nzSpan]="7" nzRequired>选择开票公司</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-select nzPlaceHolder="" formControlName="id">
          <nz-option *ngFor="let option of organizations" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.get('organization').get('id').dirty && validateForm.get('organization').get('id').errors">
          <ng-container *ngIf="validateForm.get('organization').get('id').hasError('required')">
            请输入公司或组织名!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>选择开票类型</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-select nzPlaceHolder="" formControlName="type">
          <nz-option [nzLabel]="'普票'" [nzValue]="'ORDINARY'"></nz-option>
          <nz-option [nzLabel]="'专票'" [nzValue]="'SPECIAL'"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.get('type').dirty && validateForm.get('type').errors">
          <ng-container *ngIf="validateForm.get('type').hasError('required')">
            请输入开票类型!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">备注</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <textarea formControlName="remark" nz-input rows="2" placeholder="write any thing"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isLoading">提交</button>
        <button nz-button (click)="resetForm($event)" style="margin-left: 50px;">重置</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

