<nz-breadcrumb style="margin-bottom:16px;">
  <nz-breadcrumb-item>公司信息</nz-breadcrumb-item>
  <nz-breadcrumb-item><a [routerLink]="['/back/organization/list']">列表</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>详情</nz-breadcrumb-item>
</nz-breadcrumb>
<div style="padding:24px; background: #fff; min-height: 360px;" appScroll>
  <nz-card [nzBordered]="false" nzTitle="公司注册详情" [nzExtra]="extraTemplate">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
      <div nz-col nzSpan="6"><b>公司名</b><span>{{data?.name}}</span></div>
      <div nz-col nzSpan="6"><b>地址</b><span>{{data?.address}}</span></div>
      <div nz-col nzSpan="6"><b>电话</b><span>{{data?.telephone}}</span></div>
      <div nz-col nzSpan="6"><b>纳税号</b><span>{{data?.taxNumber}}</span></div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }" style="margin-top: 20px;">
      <div nz-col nzSpan="6"><b>开户行</b><span>{{data?.depositBank}}</span></div>
      <div nz-col nzSpan="6"><b>开户行账号</b><span>{{data?.account}}</span></div>
      <div nz-col nzSpan="6"><b>联系人</b><span>{{data?.principal}}</span></div>
      <div nz-col nzSpan="6"><b>联系人电话</b><span>{{data?.principalPhone}}</span></div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }" style="margin-top: 20px;">
      <div nz-col nzSpan="6"><b>收件地址</b><span>{{data?.deliveryAddress}}</span></div>
      <div nz-col nzSpan="6"><b>联系人电话</b><span>{{data?.principalPhone}}</span></div>
      <div nz-col nzSpan="6"><b>创建时间</b><span>{{data?.creationTime}}</span></div>
      <div nz-col nzSpan="6"><b>修改时间</b><span>{{data?.modifyTime}}</span></div>
    </div>
    <div nz-row style="margin-top: 20px;">
      <div nz-col nzSpan="6"><b>客户源</b><span>{{data?.receiver}}</span></div>
      <div nz-col nzSpan="6"><b>是否有效</b><span>{{data?.pass | booleanPipe}}</span></div>
      <div nz-col nzSpan="6"><b>创建者</b><span>{{data?.creatorName}}</span></div>
      <div nz-col nzSpan="6"><b>备注</b><span>{{data?.remark}}</span></div>
    </div>
    <div nz-row style="margin-top: 20px;">
      <div nz-col nzSpan="12"><b>干系人</b><span>{{stakeholdersToString()}}</span></div>
    </div>
  </nz-card>
  
  <div nz-row>
    <div nz-col nzSpan="8" *ngFor="let item of data?.credentials">
      <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
        <nz-card-meta nzTitle="Europe Street beat" nzDescription="{{item.filename}}"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="{{item.mimeType}}" [src]="credentialUrl(item.id)" (click)="download(item.id)"/>
      </ng-template>
    </div>
  </div>
  
  <ng-template #extraTemplate>
    <a style="margin-right: 30px;" routerLink="/back/organization/edit/{{businessKey}}">编辑</a>
    <a style="margin-right: 30px;" (click)="isVisible = true" *ngIf="isCheck()">审核</a>
    <a (click)="claim()" *ngIf="isTaskAssignee()">签收</a>
  </ng-template>
  
  <nz-card *ngFor="let x of data?.flows; let i = index;" [nzBordered]="false" nzTitle="流程详情 {{i + 1}}">
  
    <nz-card  [nzBordered]="false" nzTitle="流程状态" >
      <nz-steps [nzCurrent]="getCurrent(x)">
        <nz-step nzTitle="Register" nzDescription="成功注册公司信息"></nz-step>
        <nz-step nzTitle="Waiting" nzDescription="处理中"></nz-step>
        <nz-step nzTitle="End" nzDescription="可以使用"></nz-step>
      </nz-steps>
    </nz-card>
  
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
      <div nz-col nzSpan="12"><b>注册人</b><span>{{x.applyUserName}}</span></div>
      <div nz-col nzSpan="12"><b>注册号</b><span>{{x.flowNum}}</span></div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }" style="margin-top: 20px;">
      <div nz-col nzSpan="12"><b>流程状态</b><span>{{x.taskName}}</span></div>
      <div nz-col nzSpan="12"><b>处理人</b><span style="color:green">{{x.taskAssigneeName ? x.taskAssigneeName : '无'}}</span></div>
    </div>
    <nz-divider nzText="检查历史" nzOrientation="left" style="margin-top: 20px;"></nz-divider>
    <nz-list [nzDataSource]="x.checks" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
      <ng-template #item let-item>
        <nz-list-item>
          <nz-list-item-meta [nzTitle]="nzTitle" nzAvatar="{{userUrl(item.checkerId)}}" nzDescription="{{item.checkComment}}">
            <ng-template #nzTitle>
              <a href="">{{item.checkerName}}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
  
  <nz-modal [(nzVisible)]="isVisible" nzTitle="核对公司注册信息" (nzOnCancel)="isVisible = false" (nzOnOk)="check()" [nzOkLoading]="isOkLoading">
    <nz-radio-group [(ngModel)]="checkApproved">
      <label nz-radio nzValue="true">同意</label>
      <label nz-radio nzValue="false" style="margin-left: 20px;">不同意</label>
    </nz-radio-group>
    <textarea style="margin-top: 30px;" nz-input [(ngModel)]="checkComment" placeholder="填写意见" [nzAutosize]="{ minRows: 2, maxRows: 6 }">
    </textarea>
  </nz-modal>
</div>
